body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #4caf50; 
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #8bc34a; 
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #66bb6a; 
}

.container {
    padding: 20px;
    color: #333333;
}

footer {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
